<div class="serch-container">
    <span style="width:300px; height:35px; font-size:30px;">Search:</span>
    <input type="text" border-0  style="width:300px; height:35px; font-size:50px;" [(ngModel)]="enteredSerchValue" (input)="onSearchTextChanged()">
</div>

<!-- <div class="input-group">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div> -->

  <!-- <div class="form-outline">
    <input type="search"  placeholder="Type query"  />
  </div> -->

